<div class="green-card-container">
  <div class="green-card-text"> GREENCARD </div>

  <div class="green-card-circle">
    <div class="circle-div">
      <div> CURRENT </div>
      <div> TIER </div>
      <div class="hr-line"></div>
      <div class="pricing"> 3 </div>
      <div> STAR </div>
    </div>


    <div class="circle-div">
      <div> BALANCE </div>
      <div> POINTS </div>
      <div class="hr-line"></div>
      <div class="pricing"> 7890 </div>
      <div> (1972.5) </div>
    </div>
  </div>

  <div class="green-card-text more-details" >
    <div> View green card details </div>
    <div></div>
  </div>

</div>


