@import '../../styles.scss';
.payment-container{
  background: $card-background;
  padding: 10px;
  padding-left: 5px;

  .amount-heading{
    display: flex;
    color: $tertiary-text-color;
    justify-content: space-between;
    font-size: $basic-font-size;
  }

  .amount-details{
    display: flex;
    color: $primary-text-color;
    justify-content: space-between;
  }

}
