<div class="main-container">

  <div class="top-border">

  </div>

  <div class="header">
    <app-header></app-header>
  </div>

  <div class = "customer-info component">
    <app-customer-info></app-customer-info>
  </div>

  <div class="thank-customer component">
    <app-thank-customer></app-thank-customer>
  </div>

  <div class="amount-info component">
    <app-amount-paid></app-amount-paid>
  </div>

  <div>
    <div>
      <app-invoice-details [count] = 1 [itemHeading] = "'Celio T-shirt'"></app-invoice-details>
    </div>

    <div style="margin-top: 3px;"> <app-invoice-details [count] = 2 [itemHeading] = "'Jealous Top'" ></app-invoice-details> </div>
  </div>

  <div style="text-align: center;">
    <i class="fas fa-arrow-down" class="icon-center"></i>
  </div>


  <div class="component">
    <app-download-invoice></app-download-invoice>
  </div>


</div>
