<div class="main-container">

  <div class="top-border">

  </div>

  <div class="header">
    <app-header></app-header>
  </div>

  <div class = "customer-info component">
    <app-customer-info></app-customer-info>
  </div>

  <div class="thank-customer component">
    <app-thank-customer></app-thank-customer>
  </div>

  <div class="amount-info component">
    <app-amount-paid></app-amount-paid>
  </div>

  <div>
    <div>
      <app-invoice-details [count] = 1 [itemHeading] = "'Celio T-shirt'"></app-invoice-details>
    </div>

    <div style="margin-top: 3px;"> <app-invoice-details [count] = 2 [itemHeading] = "'Jealous Top'" ></app-invoice-details> </div>
  </div>

  <div style="text-align: center;">
    <i class="fas fa-arrow-down" class="icon-center"></i>
  </div>


  <div class="component">
    <app-download-invoice></app-download-invoice>
  </div>

  <div class="component">
    <app-green-card></app-green-card>
  </div>

  <div class="profile-btn">
    <div class="btn-int-text"> View and complete your profile </div>
  </div>


  <div class="image-container">

    <div class="img-1-container">
      <img src="../assets/img/pentaloons3.jpg" alt="" srcset="">
    </div>
    <div class="img-2-container">
      <img src="../assets/img/pentaloons2.jpg" alt="" srcset="">
    </div>
  </div>


</div>

