@import '../styles.scss';
.main-container{
  border: 5px solid $border;
  .header{
    margin-bottom: 15px;
  }

  .component{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .icon-center{
    color: $icon-color;
  }

  .profile-btn{
    height: 70px;
    background: $btn-color;
    width: 100vw;
    display: flex;
    .btn-int-text{
      color: white;
      align-self: center;
      padding-left: 10px;
    }
  }

  .image-container{
    display: flex;
    margin-top: 15px;

    .img-1-container{
      width: 20%;
      display: flex;
      align-items: center;
      position: relative;
      img{
        width: 100%;
        position: absolute;
        right: 10px;
        height: 180px;
      }
    }


    .img-2-container{
      width: 90%;
      img{
        width: 100%;
      }
    }


  }




}
