<div class="invoice-container">
  <div>
    {{count}}
  </div>
  <div style="flex: 1;margin-left: 5px;">
    <div class="item-details">
      <div class="item"> {{itemHeading}} </div>
      <div class="price"> 3598 </div>
    </div>

    <div class="item-amount">
      <div> MRP: <span>1799</span>  </div>
      <div> Quantity: <span> 2 </span>  </div>
      <div> GST: <span> 500 </span> </div>
    </div>

    <div class="item-details">
      <div class="item"> Discount </div>
      <div class="price"> 200 </div>
    </div>

    <div class="item-details">
      <div class="item"> Net amount </div>
      <div class="price"> 3398 </div>
    </div>
  </div>

</div>
