/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$card-background:white;
$main-background:#f9f9f9;

$primary-text-color:#02092d;
$secondary-text-color:#c3c3c3;
$tertiary-text-color:#585a73;

$icon-color:#4ab1b6;
$btn-text:white;
$border:#fad06a;
$basic-font-size:0.89rem;
$heading-font-size:1rem;
$large-font-size:1.2rem;

$btn-color:#4ab1b6;

body{
  background: $main-background;
  height: 100vh;
  width: 100vw;
}

.icon-left{
  margin-left: 5px;
  color: $icon-color;
}

.icon-right{
  margin-right: 5px;
  color: $icon-color;
}

