/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$card-background:white;
$main-background:#f9f9f9;

$primary-text-color:#02092d;
$secondary-text-color:#c3c3c3;

$icon-color:#4ab1b6;
$btn-text:white;
$border:#fad06a;
$basic-font-size:0.89rem;
$heading-font-size:1rem;

body{
  background: $main-background;
  height: 100vh;
  width: 100vw;
  border-left: 5px solid $border;
  border-right: 5px solid $border;
  border-bottom: 5px solid $border;
}

